.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 40%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  z-index: 10;
  text-align: right;
}

.modal-close {
  color: black;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #4a5568;
  }

  &:focus {
    outline: none;
  }
}
