@use 'variables' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  max-width: $max-width;
  margin-inline: auto;
  font-size: $base-font-size;
  font-family: $base-font-family;
  letter-spacing: $base-letter-spacing;
  overflow-x: clip;
}

#root {
  height: 100%;
}

main {
  width: 100%;
  padding-left: $main-padding-left;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  transition: color $transition-default;
  color: $text-color;
}

span {
  color: $text-color;
}
