// Colors
$primary-color: #ffffff34;
$secondary-color: #2ecc71;
$background-color: #f4f4f4;
$text-color: #ffffff;

// Typography
$base-font-size: 16px;
$base-font-family: "Nimbus Mono PS", "Courier New", monospace;
$base-letter-spacing: 1px;

// Layout
$max-width: 1920px;
$main-padding-left: 260px;

// Transitions
$transition-default: 0.3s ease;
