// Colors
$primary-color: #ffffff34;
$secondary-color: #fb27a3;
$background-color-light: #f4f4f4;
$background-color-dark: #333333;
$text-color-light: #ffffff;
$text-color-dark: #333333;

// Typography
$base-font-size: 16px;
$base-font-family: "Nimbus Mono PS", "Courier New", monospace;
$base-letter-spacing: 1px;

// Layout
$max-width: 1920px;

// Navigation
$nav-width-collapsed: 40px;
$nav-width-expanded: 200px;
$nav-item-height: 40px;
$nav-icon-size: 22px;
$main-padding-left: 260px;
$nav-padding: 10px;
$nav-margin: 10px;
$nav-background-color: #333333;
$nav-text-color: #ffffff;
$nav-hover-background-color: #444444;
$nav-hover-text-color: #ffffff;
$nav-active-background-color: #555555;
$nav-active-text-color: #ffffff;

// Transitions
$nav-transition-duration: 0.25s;
$nav-transition-timing: ease-in-out;
$transition-default: 0.25s ease-in-out;
