.products-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .products-header {
    text-align: center;
    margin-bottom: 20px;

    h1 {
      font-size: 2rem;
      color: $primary-color;
    }
  }
  .product-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;

    .product-card {
      background-color: white;
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      }

      .product-details {
        padding: 15px;

        .product-image {
          width: 100%;
          height: auto;
          border-radius: 8px;
          object-fit: cover;
        }

        .product-info {
          margin-top: 10px;

          .product-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .product-name {
              font-size: 1.5rem;
              color: $text-color;
            }

            .product-date {
              font-size: 0.9rem;
              color: #777;
            }
          }

          .product-description {
            margin: 10px 0;
            color: #555;
          }

          .product-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .update-button {
              background-color: $primary-color;
              color: white;
              border: none;
              border-radius: 5px;
              padding: 10px 15px;
              cursor: pointer;
              transition: background-color 0.3s;

              &:hover {
                background-color: $secondary-color;
              }

              .update-icon {
                margin-left: 5px;
                width: 14px;
                height: 14px;
              }
            }

            .product-price {
              font-size: 1.2rem;
              color: $text-color;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .admin-menu {
    margin-left: 20px;
    width: 250px; // Ajustez la largeur de la barre latérale si nécessaire
  }
}

.loading,
.error {
  text-align: center;
  font-size: 1.5rem;
  color: $text-color;
  margin-top: 20px;
}
