.product-card {
  width: 100%;
  // margin-left: 2rem;
  padding: 0.75rem;

  .product-image-container {

    img {
      width: 100%;
      height: auto;
      aspect-ratio: 16/9;
      object-fit: contain;
      border-radius: 0.25rem;
    }
  }

  .product-details {
    padding: 1rem;

    .product-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .product-name {
      font-size: 1rem;
    }

    .product-price {
      font-size: 0.875rem;
      font-weight: 500;
      margin-right: 0.5rem;
      padding: 0.25rem 0.625rem;
      border-radius: 50px;
    }
  }
}
