aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px; // Largeur initiale pour montrer uniquement les images
  height: 100vh;
  background-color: #333; // Gris foncé
  transition: width 0.3s ease; // Transition pour l'animation de largeur
  overflow: hidden;
  z-index: 1000;

  &:hover {
    width: 200px; // Largeur du aside lorsqu'il est en survol
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 20px 0;
    .main-nav {
      list-style: none; // Suppression des puces
      padding: 0; // Suppression du padding
      margin-bottom: 1rem; // Espace en bas

      .nav-item {
        margin: 0.5rem 0; // Espacement entre les éléments

        .nav-link {
          display: flex; // Utilisation de flexbox pour aligner les icônes et le texte
          align-items: center; // Centre verticalement
          text-decoration: none; // Suppression du soulignement
          color: $text-color; // Couleur du texte
          padding: 0.5rem; // Padding autour du lien
          border-radius: 4px; // Coins arrondis

          &:hover {
            background-color: $primary-color; // Changement de fond au survol
            color: white; // Changement de couleur du texte
          }

          img {
            margin-right: 0.5rem; // Espace entre l'icône et le texte
            width: 24px; // Taille de l'icône
            height: 24px; // Taille de l'icône
          }
        }
      }
    }

    .user-nav {
      margin-top: auto; // Pousse la section utilisateur vers le bas
      margin-top: 1rem;

      .user-info {
        display: flex;
        flex-direction: column;

        .user-name {
          height: 20px;
          width: 100%;
          color: white;
          font-weight: bold; // Texte en gras pour le nom de l'utilisateur
          margin-bottom: 0.5rem; // Espace en bas
        }

        .user-menu {
          list-style: none; // Suppression des puces
          padding: 0; // Suppression du padding
          margin: 0; // Suppression de la marge

          .user-menu-item {
            display: block; // Affichage en bloc
            padding: 0.5rem; // Padding autour de chaque élément
            color: $text-color; // Couleur du texte
            text-decoration: none; // Suppression du soulignement
            border-radius: 4px; // Coins arrondis

            &:hover {
              background-color: $secondary-color; // Changement de fond au survol
              color: white; // Changement de couleur du texte
            }
          }

          .logout-button {
            background: none; // Aucune couleur de fond
            border: none; // Suppression de la bordure
            color: $text-color; // Couleur du texte
            cursor: pointer; // Curseur en forme de main
            text-align: left; // Alignement à gauche

            &:hover {
              background-color: $secondary-color; // Changement de fond au survol
              color: white; // Changement de couleur du texte
            }
          }
        }
      }

      .guest-nav {
        list-style: none; // Suppression des puces
        padding: 0; // Suppression du padding
        margin: 0; // Suppression de la marge

        .nav-link {
          display: flex; // Utilisation de flexbox pour aligner les icônes et le texte
          align-items: center; // Centre verticalement
          text-decoration: none; // Suppression du soulignement
          color: $text-color; // Couleur du texte
          padding: 0.5rem; // Padding autour du lien
          border-radius: 4px; // Coins arrondis

          &:hover {
            background-color: $primary-color; // Changement de fond au survol
            color: white; // Changement de couleur du texte
          }

          img {
            margin-right: 0.5rem; // Espace entre l'icône et le texte
            width: 24px; // Taille de l'icône
            height: 24px; // Taille de l'icône
          }
        }
      }
    }
  }
}
